﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                var username = User.Identity.GetUserName();
                if (username.Contains('@'))
                {
                    username = username.Substring(0, username.IndexOf('@'));
                }
            }
            <div style="padding: 8px 30px 0 0;" class="divLoginInfoHolder">
                <a href="@Url.Action("Index", "Racun")" class="btn btn-primary" style="">
                    <i class="fas fa-user-circle" style="margin-right: 3.5px;"></i>
                    @username
                </a>
            </div>
        </li>
        <li>@*<a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>*@</li>
    </ul>
    }
}
@*else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Prijava", "index", "akademija", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@

    <style>
        @@media only screen and (max-width: 600px) {
            .divLoginInfoHolder {
                padding: 0 10px 8px !important;
                float:right;
            }
        }
    </style>