﻿@model Meritokrat2.Models.AppModels.Clanak

@{
    ViewBag.Title = "Dodavanje Članka";
}

<div class="holder " style="min-height: 400px;">
    <h2 class="animated zoomIn fast">@ViewBag.Title</h2>
    <hr />

    <form action="@Href("~/Clanak/DodajClanak")" method="post" id="postForm" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-sm-6 col-md-7" style="font-size: 0.8em; padding: 20px;background-color: rgba(228, 228, 228, 0.35);">
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control", placeholder = "ime Autora..." } })
                   
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Naslov, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Naslov, new { htmlAttributes = new { @class = "form-control", placeholder = "naslov članka..." } })
    
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Dodaj" class="btn btn-primary" style="width: 100%;" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5">
            <div style="background-color: rgba(228, 228, 228, 0.35); text-align: center; height: 100px;">

                <p class="narrow text-center" style="line-height: 100px;">
                    <label class="btn btn-success" id="clanakInputLabel" for="clanakInput">Odaberite clanak za upload.</label>
                    <input type="file" name="file" id="clanakInput" style="display: none; " accept=".docx,.doc,.pdf" />

                    <br />

                    @Html.EditorFor(model => model.ClanakFileName, new { htmlAttributes = new { @class = "form-control", } })

                </p>

            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        @*  @Html.ActionLink("< Sve lekcije", "lekcije", "moderator", null, new { @class = "btn btn-warning" })*@
    </form>
</div>

<style>
    .holder {
        font-size: 0.5em;
        font-family: 'Roboto Slab';
        color: #fff;
    }
</style>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval");

<script>
    $("#clanakInput").change(function () {
        var clanakName = $("#clanakInput").val();

        if (clanakName !== "") {
            $("#clanakInputLabel").text(clanakName.substring(clanakName.lastIndexOf('\\') + 1));
            $("#ClanakFileName").val(clanakName);
        }
    });



</script>

<style>
    @@media only screen and (max-width: 800px) {
        .col-md-5 {
            margin-top: 7px;
            padding: 0;
        }
    }

    @@media only screen and (min-width: 800px) {
        .col-md-5 {
            padding-left: 7px;
        }
    }

    #ClanakFileName {
        visibility:hidden;
    }
</style>
