﻿@model IEnumerable<Meritokrat2.Models.AppModels.Clanak>

@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/rr-1.2.4/datatables.min.css" />
<link href="~/Content/Styles/RezultatiStyle.css" rel="stylesheet" />


<div class="holder" >
    <h2 class="animated zoomIn fast">Pregled članaka</h2>
    <hr />

    <table class="table  table-responsive" style="width:100%;">

        <thead>
            <tr>
                <td>Autor</td>
                <td>Naslov</td>
                <td style="width: 20%;">Preuzimanje</td>
                <td style="width:20%">Brisanje</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Autor</td>
                <td>@item.Naslov</td>
                <td>
                    <a href="@Url.Action("Download", "Clanak", new { id=item.ClanakID })" class="btn btn-primary" style="width: 100%;">
                        <i class="fas fa-download" style="font-size:0.85em; margin-right: 3.5px;"></i>
                        Preuzmi

                    </a>
                </td>
                <td>
                    <a href="@Url.Action("DeleteClanak", "Clanak", new {idClanak=item.ClanakID })" class="btn btn-danger" style="width: 100%;" onclick="return confirm('Želite li obrisati ćlanak?')">
                        <i class="fas fa-trash" style="font-size:0.85em; margin-right: 3.5px;"></i>
                        Obriši

                    </a>
                </td>
            </tr>

            }
        </tbody>
    </table>
    <div style="margin-top: 12px;">

        <a href="@Url.Action("DodajClanak", "Clanak")" class="btn btn-primary" style="font-size: 0.66em;float: left;">
            <i class="fas fa-plus" style="font-size:0.85em; margin-right: 3.5px;"></i>
            Dodaj članak
        </a>
    </div>
    <div class="clearfix"></div>

</div>

<style>
    table {
        background-color: rgba(255, 255, 255, 0.21);
    }

    .holder {
        font-size: 0.46em;
        font-family: 'Roboto Slab';
        color: #fff;
    }

    .dataTables_filter {
        float: right;
    }
</style>


@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
    <script>
        $(function () {
            activateTables();
            checkToasts();
        });

        function activateTables() {
            $("table").DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "Nema podataka za prikaz",
                    "info": "Prikazuje se _START_ do _END_ od _TOTAL_ članaka",
                    "infoEmpty": "Prikazuje se 0 do 0 od 0 članaka",
                    "infoFiltered": "(filtrirano od _MAX_ ukupnih )",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Prikaži _MENU_ rezultata",
                    "loadingRecords": "Učitavanje...",
                    "processing": "Procesiranje...",
                    "search": "Pretraži:",
                    "zeroRecords": "Ništa nije pronađeno",

                    "aria": {
                        "sortAscending": ": aktiviraj za uzlazno sortiranje",
                        "sortDescending": ": aktiviraj za silazno sortiranje"
                    }
                },
                "ordering": false,
                "paging": false,
                stateSave: true
            });
        }

        function checkToasts() {
            if ('@TempData["message"]' == "Added") {
                toastr.success("Članak uspješno dodan");
            }
            else if ('@TempData["message"]' == "Deleted") {
                toastr.success("Članak uspješno izbrisan");
            }
        }
    </script>
 

}