﻿@model IEnumerable<Meritokrat2.Models.AppModels.Clanak>

@{
    ViewBag.Title = "PregledClanaka";
}



<div class="holder">
    <h2 class="animated zoomIn fast">Pregled članaka</h2>
    <hr />

    <table class="table  table-responsive" style="width:100%;">
        <thead style="display:none;">
            <tr>
                <th>Autor</th>
                <th>Naslov</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Download", "Clanak", new { id=item.ClanakID })" style="width:100%;height:100%;">
                            <div class="lekcija">
                                <div id="rb-and-naziv" style="float: left;line-height: 50px; font-size:130%;">
                                    <i class="fas fa-file" style="font-size:130%;"></i>
                                    @Html.DisplayFor(modelItem => item.Autor)-@Html.DisplayFor(modelItem => item.Naslov)
                                </div>
                                <div style="float: right; line-height:50px;">
                                    <i class="fas fa-download" style="font-size:130%; margin-right: 3.5px;"></i>


                                </div>
                                <div class="clearfix"></div>

                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </td>
                    <td style="display:none;"></td>
                </tr>

            }
        </tbody>
    </table>

    <div class="clearfix"></div>

</div>

<style>
    table {
        background-color: rgba(255, 255, 255, 0.21);
    }

    .holder {
        font-size: 0.46em;
        font-family: 'Roboto Slab';
        color: #fff;
    }

    .dataTables_filter {
        float:right;
        padding:3px;
            
    }
</style>
@section scripts{
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(function () {
            activateTables();

        });

        function activateTables() {
            $("table").DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "Nema podataka za prikaz",
                    "info": "Prikazuje se _START_ do _END_ od _TOTAL_ članaka",
                    "infoEmpty": "Prikazuje se 0 do 0 od 0 članaka",
                    "infoFiltered": "(filtrirano od _MAX_ ukupnih )",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Prikaži _MENU_ rezultata",
                    "loadingRecords": "Učitavanje...",
                    "processing": "Procesiranje...",
                    "search": "Pretraži:",
                    "zeroRecords": "Ništa nije pronađeno",

                    "aria": {
                        "sortAscending": ": aktiviraj za uzlazno sortiranje",
                        "sortDescending": ": aktiviraj za silazno sortiranje"
                    }
                },
                "ordering": false,
                "paging": false,
                stateSave: true
            });
        }
    </script>


}