﻿@{
    ViewBag.Title = "Početna";
}

<div class="holder">
    <div class="item animated flipInX fast">
        <img id="logo" src="~/Content/Images/logo.png" />
        @*<hr />*@
        <h2>Akademija znanja</h2>
        <a onclick="pokreniClick()" tabindex="0" class="btn btn-lg btn-primary" style="width: 28%;"
                data-container="body" data-toggle="popover" data-trigger="focus" data-placement="bottom"
                data-content="Prijaviti se možeš sa svojim AAI identitetom." title="Za igru trebaš biti prijavljen/a.">
            @*style="font-size: 0.60em;"*@
            Pokreni
            <i class="fas fa-sign-in-alt" style="font-size:0.85em; margin-left: 3.5px;"></i>
        </a>
    </div>
    <div class="col-md-6 col-sm-6 animated fadeInLeft delay-1s" style="margin-top: 8px;padding-right: 8px;">
        <div class="item" style="color: #fff;">
            <i class="fas fa-graduation-cap" style="font-size:2.4em; margin-left: 3.5px;"></i>

            <h3>Što je <b>Meritokrat</b>?</h3>
            <p style="font-size: 0.46em;text-align:center;letter-spacing: 1.2px;">
                Meritokrat je mjesto gdje češ <b>puno naučiti o pravu</b> na tebi zanimljiv način. <br />
                Kroz <b>zabavno natjecanje</b> u znanju savladat češ znanja koja će ti pomoći sad i poslije.
            </p>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 animated fadeInRight delay-1s" style="margin-top: 8px;">
        <div class="item" style="color: #fff;">
            <i class="fas fa-award" style="font-size:2.4em; margin-left: 3.5px;"></i>
            <h3>Natjecanje u <b>znanju</b>!</h3>
            <p style="font-size: 0.46em;text-align:center;letter-spacing: 1.2px;">
                <b>Svakog dana</b> možeš rješiti po jedan kviz a <b>točni odgovori</b> iz svakog kviza se <b>zbrajaju</b> i tako sudjeluješ u <b>nagradnoj igri</b>.
                <br />Rezultati su dostupni pojedinačno i po školama.
            </p>
        </div>
    </div>
    <div class="col-md-12 col-sm-6 animated bounceInUp delay-2s" style="margin-top: 8px;">
        <div class="item" style="color: #fff;">
            <h2 style="margin-bottom: 35px;">Sponzori</h2>
            <div style="width: 80%; margin: auto;" class="sponzori">
                <hr style="margin-bottom: 25px;" />
                <div class="col-md-3 col-sm-3">
                    <i class="fas fa-building" style="font-size:1.28em; margin-left: 3.5px;opacity:0.5;"></i>
                </div>
                <div class="col-md-3 col-sm-3">
                    <i class="fab fa-amazon" style="font-size:1.58em; margin-left: 3.5px;opacity:0.5;"></i>
                </div>
                <div class="col-md-3 col-sm-3">
                    <i class="fab fa-google" style="font-size:1.48em; margin-left: 3.5px;opacity:0.5;"></i>
                </div>
                <div class="col-md-3 col-sm-3">
                    <i class="fab fa-pied-piper-alt" style="font-size:1.28em; margin-left: 3.5px;opacity:0.5;"></i>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

<style>
    .holder {
        background-color: rgba(255, 255, 255, 0.00) !important;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff !important;
        font-family: 'Roboto Slab';
    }

    .item {
        width: 100%;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.33);
        text-align: center;
    }

    .col-sm-6 {
        padding-left: 0;
        padding-right: 0;
    }

    #logo {
        width: 270px;
    }

    .sponzori div i {
        -moz-transition: opacity 0.4s ease-in;
        -o-transition: opacity 0.4s ease-in;
        -webkit-transition: opacity 0.4s ease-in;
        transition: opacity 0.4s ease-in;
    }

        .sponzori div i:hover {
            opacity: 1 !important;
            cursor: pointer;
        }

    .popover {
        max-width: 220px;
    }


    @@media only screen and (max-width: 800px) {
        .btn-lg {
            width: 80% !important;
        }

        .col-sm-6 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .item {
            margin-left: 0 !important;
            padding: 20px;
        }
    }

    @@media only screen and (min-width: 600px) {
        ::-webkit-scrollbar {
            display: none;
        }

        ::-webkit-scrollbar-button {
            display: none;
        }

        body {
            -ms-overflow-style: none;
        }
    }
</style>

@Scripts.Render("~/bundles/jquery")


<script>
    $(function () {
        $('[data-toggle="popover"]').popover();
        $('[data-toggle="popover"]').popover({
            trigger: 'focus'
        });
        setTimeout(function () {
            $('[data-toggle="popover"]').popover('show');
        }, 3300);

    });

    function pokreniClick() {
        location.href = '@Url.Action("index", "akademija")';

    }
</script>