﻿@model Meritokrat2.Models.RegisterViewModel

@{
    ViewBag.Title = "Dodaj";
}

<div class="holder" style="font-family: 'Roboto Slab'; color: #fff;">
    <h2>Dodaj moderatora</h2>
    <h4>Unesite email i privremenu lozinku za prijavu.</h4>
    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div style="font-size:0.4em;margin-bottom:0;margin-top: 8px;">
        @Html.ValidationSummary(false, "")
    </div>

        <div class="form-holder">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4", style = "font-size: 0.5em;" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4", style = "font-size: 0.5em;" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4", style = "font-size: 0.5em;" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Spremi" class="btn btn-primary" style="width: 100%;" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("< Upravljanje sustavom", "index", "sustav", null, new { @class = "btn btn-warning" })
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style>
    @@media only screen and (max-width: 800px) {
        .form-holder {
            width: 100%;
        }

        .form-group {
            margin-bottom: 0px;
        }

        hr {
            margin-bottom: 0;
        }
    }

    @@media only screen and (min-width: 800px) {
        .form-holder {
            width: 60%;
            margin: auto;
        }
    }
</style>