﻿@model Meritokrat2.Models.ApplicationUser
@using Meritokrat2.Models.AppModels;

@{
    ViewBag.Title = "Pregled";
    var aktivnosti = ViewBag.Aktivnosti as List<Aktivnost>;
}

<div class="holder">
    <h2>Pregled</h2>
    <h4 style="margin-bottom: 0;">@Model.UserName</h4>
    <hr style="margin:12px 0 12px;" />

    <div class="">
        <div class="modHolder" style="display:block;">
            <a href="@Url.Action("izbrisi", new { Model.Id })" class="btn btn-sm btn-danger" style="margin-right:3px;display:inline;float:right;">
                <i class="fas fa-trash" style="font-size:0.85em; margin-right: 3.5px;"></i>
                Izbriši
            </a>
            <p><b>Email: </b> @Model.UserName</p>
            <p><b>Korisničko ime: </b> @Model.UserName</p>
            <p><b>ID: </b> @Model.Id</p>
            <p>
                <b>Uloge: </b>
                @foreach (var role in @Model.Roles)
                {
                    if (role.RoleId == "1")
                    {
                        <span style="background-color: rgba(76, 255, 0, 0.60);" class="badge">Moderator</span>
                    }
                    else if (role.RoleId == "2")
                    {
                        <span style="background-color: rgba(255, 216, 0, 0.60);" class="badge">Administrator</span>
                    }
                }
            </p>
            @if (aktivnosti != null && aktivnosti.Count > 0)
            {
                <div class="panel-group" style="display:block;">
                    <div class="panel panel-default">
                        <div class="panel-heading" data-toggle="collapse" href="#collapse2" style="cursor: pointer;">
                            <h4 class="panel-title">
                                <i class="fas fa-eye" style="margin-right: 5px;"></i>
                                <a>Pregled aktivnosti</a>
                                <span class="badge" style="float:right; border-radius: 3px;background-color:#ff3636;">@aktivnosti.Count</span>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse" style="color: #171717;font-size:0.75em;">
                            <div class="panel-body">
                                <table class="table table-bordered table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Aktivnost</th>
                                            <th style="width: 18%;text-align:center;">Datum</th>
                                            <th style="width: 15%;text-align:center;">Vrijeme</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var aktivnost in aktivnosti)
                                        {
                                            <tr>
                                                <td>@aktivnost.OpisAktivnosti</td>
                                                <td style="text-align:center;">@aktivnost.DatumIVrijeme.ToString("dd.MM.yyyy")</td>
                                                <td style="text-align:center;">@aktivnost.DatumIVrijeme.ToString("HH:mm")</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            }
            else
            {
                <div class="alert alert-warning" style="margin-bottom:0;font-size:0.83em;">Nema aktivnosti za moderatora.</div>
            }

        </div>
    </div>
    <div class="clearfix"></div>
</div>

<style>
    .holder {
        color: #fff;
        font-family: 'Roboto Slab';
    }

    .modHolder {
        font-size: 0.5em;
        background-color: rgba(255, 255, 255, 0.11);
        padding: 12px;
        border: 1px solid rgba(246, 246, 246, 0.75);
    }

    .panel-group {
        margin-bottom: 0px;
    }
</style>