﻿@model Meritokrat2.Models.AppModels.Post

@{
    ViewBag.Title = "AddPost";
}

<div class="holder " style="min-height: 400px;">
    <h2 class="animated zoomIn fast">Dodavanje posta</h2>
    <hr />

    <form action="@Href("~/Post/AddPost")" method="post" id="postForm" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="font-size: 0.8em; padding: 20px;background-color: rgba(228, 228, 228, 0.35); display:block;">
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(model => model.Autor, htmlAttributes: new { @class = "control-label col-md-1 " })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Autor, new { htmlAttributes = new { @class = "form-control", placeholder = "ime Autora..." } })

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Naslov, htmlAttributes: new { @class = "control-label col-md-1" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Naslov, new { htmlAttributes = new { @class = "form-control", placeholder = "naslov članka..." } })

                </div>
            </div>



            <div class=" form-group">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <textarea id="summernote" ></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-1"></div>
                <div class="col-md-9">
                    <input type="submit" value="Dodaj" class="btn btn-primary" style="width:100%" onclick="Submit()" />
                </div>
            </div>
        </div>
        <div class="form-group" style="visibility:hidden">
            @Html.LabelFor(model => model.TextPost, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.TextPost, new { htmlAttributes = new { @class = "form-control", placeholder = "naslov članka..." } })

            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        @*  @Html.ActionLink("< Sve lekcije", "lekcije", "moderator", null, new { @class = "btn btn-warning" })*@
    </form>
</div>

<style>
    .holder {
        font-size: 0.5em;
        font-family: 'Roboto Slab';
        color: #fff;
    }
    .note-group-select-from-files {
        display: none;
    }
</style>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval");

@section scripts{
    <script src="~/Scripts/summernote/summernote.js"></script>

    <script>
        $(document).ready(function () {
            
            $('#summernote').summernote({
                height: 300
            });

            $('#summernote').summernote('code','');
        });
        function Submit() {
            $("#TextPost").val($("#summernote").summernote('code'));
            $.ajax(
                {
                    type:"POST",
                    url: "Post/AddPost",
                    data: {
                        Naslov: $("#Naslov").val(),
                        Autor: $("#Autor").val(),
                        TextPost: $("summernote").code()
                    }
                }
            );
        }
    </script>

}