﻿@using Meritokrat2.Models.AppModels;
@{
    ViewBag.Title = "Rezultati";
    var poSkolama = ViewBag.PoSkolama as List<RezultatiSkole>;
    var pojedinacni = ViewBag.Pojedinacni as List<RezultatiPojedinacno>;
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/rr-1.2.4/datatables.min.css" />
<link href="~/Content/Styles/RezultatiStyle.css" rel="stylesheet" />

<div class="holder">
    <div>
        <h2>Rezultati</h2>
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="pill" href="#home">Pojedinačni rezultati</a></li>
            <li><a data-toggle="pill" href="#menu1">Rezultati po školama</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" style="padding-top: 20px;" class="tab-pane fade in active">
                <div class="topIgraci">
                    <p style="margin-bottom: 20px;"><b>Najbolji igrači</b></p>
                    <div class="animated bounceIn">
                        @if (pojedinacni[1] != null)
                        {
                            <div class="igrac i2" onclick="topIgracClick('@pojedinacni[1].Nadimak')" data-toggle="tooltip" data-placement="top" data-html="true"
                                 title="<b>Razred: </b>@pojedinacni[1].Razred<br><b>Bodovi:</b> @pojedinacni[1].Bodovi">
                                <img src="~/Content/Images/Users/iconfinder_JD-01_2625526.png" style="width: 80px;" />
                                <p style="font-size: 0.7em;">@pojedinacni[1].Nadimak</p>

                            </div>
                        }
                        @if (pojedinacni[0] != null)
                        {
                            <div class="igrac i1" onclick="topIgracClick('@pojedinacni[0].Nadimak')" data-toggle="tooltip" data-placement="top" data-html="true"
                                 title="<b>Razred: </b>@pojedinacni[0].Razred<br><b>Bodovi:</b> @pojedinacni[0].Bodovi">
                                <img src="~/Content/Images/Users/iconfinder_JD-06_2625478.png" style="width: 80px;" />
                                <p style="font-size: 0.7em;">@pojedinacni[0].Nadimak</p>
                            </div>
                        }
                        @if (pojedinacni[2] != null)
                        {
                            <div class="igrac i3" onclick="topIgracClick('@pojedinacni[2].Nadimak')" data-toggle="tooltip" data-placement="top" data-html="true"
                                 title="<b>Razred: </b>@pojedinacni[2].Razred<br><b>Bodovi:</b> @pojedinacni[2].Bodovi">
                                <img src="~/Content/Images/Users/iconfinder_JD-09_2625479.png" style="width: 80px;" />
                                <p style="font-size: 0.7em;">@pojedinacni[2].Nadimak</p>
                            </div>
                        }
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div>
                    <table id="table1" class="table table-bordered table-condensed table-responsive" style="width: 100%;">
                        <thead>
                            <tr>
                                <td><b>Nadimak</b></td>
                                <td><b>Bodovi</b></td>
                                <td><b>Razred</b></td>
                                <td><b>Škola</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in pojedinacni)
                            {
                                <tr>
                                    <td>@item.Nadimak</td>
                                    <td>@item.Bodovi</td>
                                    <td>@item.Razred</td>
                                    <td>@item.Skola</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="menu1" style="padding-top: 20px;" class="tab-pane fade">
                <div>
                    <div class="topSkola">
                        <h4 style="margin-bottom: 0;">Najbolja škola:</h4>
                        <h2 style="margin-top: 5px;margin-bottom: 10px;"><b>@poSkolama[0].Skola</b></h2>
                        <h4 style="font-size:0.9em;margin-top: 5px;margin-bottom: 15px;">Bodovi: <b>@poSkolama[0].Bodovi</b></h4>
                        <i class="fas fa-trophy animated pulse infinite" style="font-size:1.8em;color:#ffd700;"></i>
                    </div>
                    <table class="table table-bordered table-condensed table-responsive" style="width: 100%;">
                        <thead>
                            <tr>
                                <td><b>Škola</b></td>
                                <td><b>Bodovi</b></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in poSkolama)
                            {
                                <tr>
                                    <td>@item.Skola</td>
                                    <td>@item.Bodovi</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@section scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/rr-1.2.4/datatables.min.js"></script>
    <script>
        var table;
        $(function () {
            activateTables();
            $('[data-toggle="tooltip"]').tooltip();
        });

        function topIgracClick(nadimak) {
            $("#table1").DataTable().search(nadimak).draw();
        }

        function activateTables() {
            table = $("table").DataTable({
                "language": {
                    "decimal": "",
                    "emptyTable": "Nema podataka za prikaz",
                    "info": "Prikazuje se _START_. do _END_. od _TOTAL_ rezultata",
                    "infoEmpty": "Prikazuje se 0 do 0 od 0 rezultata",
                    "infoFiltered": "(filtrirano od _MAX_ ukupnih rezultata)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Prikaz _MENU_ rezultata",
                    "loadingRecords": "Učitavanje...",
                    "processing": "Procesiranje...",
                    "search": "Pretraga:",
                    "zeroRecords": "Ništa nije pronađeno",
                    "paginate": {
                        "first": "Prvi",
                        "last": "Posljednji",
                        "next": "Sljedeći",
                        "previous": "Prethodni"
                    },
                    "aria": {
                        "sortAscending": ": aktiviraj za uzlazno sortiranje",
                        "sortDescending": ": aktiviraj za silazno sortiranje"
                    }
                },
                "ordering": false,
                stateSave: true
            });
        }
    </script>
}