﻿@using Meritokrat2.Models;
@{
    ViewBag.Title = "Sustav";
    var moderatori = ViewBag.Moderatori as List<ApplicationUser>;
}

<div class="holder" style="font-family: 'Roboto Slab'; color: #fff;">
    <h2>Upravljanje sustavom</h2>
    <hr />
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse1" style="cursor: pointer;">
                <h4 class="panel-title">
                    <i class="fas fa-user-circle" style="margin-right: 5px;"></i>
                    <a>Upravljanje moderatorima</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse" style="color: #171717;font-size:0.36em;">
                <div class="panel-body">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                            <tr>
                                <th style="text-align:center">Email</th>
                                <th style="text-align:center;width: auto;">Upravljanje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in moderatori)
                            {
                                <tr>
                                    <td style="text-align:center">@item.Email</td>
                                    <td style="text-align:center">
                                        <a href="@Url.Action("pregled", "moderatori", new { @item.Id })" class="btn btn-xs btn-info" style="font-size: 0.9em;">
                                            <i class="fas fa-eye" style="font-size:0.85em; margin-right: 3.5px;"></i>
                                            Pregled
                                        </a>
                                        @*<button class="btn btn-xs btn-danger" style="margin-right:3px;font-size: 0.9em;" onclick=" ? window.location.href = @Url.Action("izbrisi", "moderatori", new { @item.Id })">
                                            <i class="fas fa-trash" style="font-size:0.85em; margin-right: 3.5px;"></i>
                                            Izbriši
                                        </button>*@
                                        <a href="@Url.Action("izbrisi", "moderatori", new { @item.Id })" class="btn btn-xs btn-danger" style="margin-right:3px;font-size: 0.9em;" onclick="confirm('Jeste li sigurni na želite obrisati moderatora?')">
                                            <i class="fas fa-trash" style="font-size:0.85em; margin-right: 3.5px;"></i>
                                            Izbriši
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("dodaj", "moderatori")" class="btn btn-primary btn-sm" style="float:right;">
                        <i class="fas fa-plus" style="margin-right: 3.5px;"></i>
                        Dodaj
                    </a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse2" style="cursor: pointer;">
                <h4 class="panel-title">
                    <i class="fas fa-cog" style="margin-right: 5px;"></i>
                    <a>Postavke sustava</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse" style="color: #171717;font-size:0.36em;">
                <div class="panel-body">
                    Postavke sustava
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .panel-group {
        margin-bottom: 8.2px;
    }
</style>

@section scripts {
    <script src="~/Scripts/toastr.js"></script>

    <script>
        $(function () {
            var a = '@TempData["ToastrMsg"]';
            if (a != '')
                if (a == 'add') {
                    toastr.success('Moderator je uspješno dodan.', 'Potvrda');
                }
            if (a == 'delete') {
                toastr.success('Moderator je uspješno obrisan.', 'Potvrda');
            }
        })

        function izbrisiClick(id) {
            if (confirm('Jeste li sigurni na želite obrisati moderatora?')) {
                
            }
        }
    </script>

    <script>
         var cu = @TempData["ToastrMsg"].ToString()
         if (cu == "add" || cu == "delete") {
            $("#collapse1").addClass('in');
         }
    </script>
}
