﻿
@{
    ViewBag.Title = "Upravljačka ploča";
}

<div class="holder az-container">

    <div class="animated bounceInDown fast">
        <div class="row" style="padding: 20px 30px 0; text-align: left; font-family: 'Roboto Slab'; margin-bottom: 10px;">
            @*<img style="width: 28px;" src="~/Content/Images/az-panel.png" />*@
            @*<i class="fas fa-columns" style="font-size:28px;color:#fff"></i>*@
            <h2 style="color: #fff;">Upravljačka ploča</h2>
        </div>
        <div style="text-align: center;">
            @if (User.IsInRole("Administrator"))
            {
                <a href="@Url.Action("lekcije", "moderator")" class="col-md-3 col-sm-4 col">
                    <div style="padding: 10px;">
                        <i class="fas fa-list-ul" style="font-size:80px;padding:20px;"></i>
                        <br />
                        Upravljanje lekcijama
                    </div>
                </a>
                <a href="@Url.Action("index", "clanak")" class="col-md-3 col-sm-4 col">
                    <div style="padding: 10px;">
                        <i class="fas fa-file-alt" style="font-size:80px;padding:20px;"></i>
                        <br />
                        Upravljanje člancima
                    </div>
                </a>
                <a href="@Url.Action("index", "sustav")" class="col-md-3 col-sm-4 col">
                    <div style="padding: 10px;">
                        <i class="fas fa-cogs" style="font-size:80px;padding:20px;"></i>
                        <br />
                        Upravljanje sustavom
                    </div>
                </a>
                <a href="@Url.Action("index", "statistika")" class="col-md-3 col-sm-4 col">
                    <div style="padding: 10px;">
                        <i class="fas fa-chart-bar" style="font-size:80px;padding:20px;"></i>
                        <br />
                        Statistka
                    </div>
                </a>
            }
            else
            {
                <a href="@Url.Action("lekcije", "moderator")" class="col-md-4 col-sm-4 col">
                    <div style="padding: 10px;">
                        <i class="fas fa-list-ul" style="font-size:80px;padding:20px;"></i>
                        <br />
                        Upravljanje lekcijama
                    </div>
                </a>
                <a href="@Url.Action("index", "clanak")" class="col-md-4 col-sm-4 col">
                    <div style="padding: 10px;">
                        <i class="fas fa-file-alt" style="font-size:80px;padding:20px;"></i>
                        <br />
                        Upravljanje člancima
                    </div>
                </a>
                <a href="@Url.Action("statistika", "moderator")" class="col-md-4 col-sm-4 col">
                    <div style="padding: 10px;">
                        <i class="fas fa-chart-bar" style="font-size:80px;padding:20px;"></i>
                        <br />
                        Statistka
                    </div>
                </a>
            }
            <div class="clearfix"></div>
        </div>
        </div>
    </div>
    <style>
        @@media only screen and (max-width: 800px) {
            .holder {
                margin: 0 !important;
            }
        }

        .az-container {
            text-align: center;
            background-color: rgba(174, 174, 174, 0.75);
            border: 1px solid rgba(128, 128, 128, 0.45);
            padding: 15px 35px 40px;
            margin: 0 5px;
        }

        a, a:hover, a:visited, a:focus {
            color: inherit;
            text-decoration: none;
        }


            a, a:hover, a:visited, a:focus {
                color: inherit;
                text-decoration: none;
            }

        .col {
            padding: 5px;
        }

            .col div {
                padding: 15px 15px 5px;
                font-size: 0.6em;
                background-color: white;
                opacity: 0.7;
                -moz-transition: opacity 0.3s ease-in, box-shadow 0.3s, background 0.4s;
                -o-transition: opacity 0.3s ease-in, box-shadow 0.3s, background 0.4s;
                -webkit-transition: opacity 0.3s ease-in, box-shadow 0.3s, background 0.4s;
                transition: opacity 0.3s ease-in, box-shadow 0.3s, background 0.4s;
            }

                .col div:hover {
                    opacity: 1;
                    background: #373B44; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #4286f4, #373B44); /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    color: #fff;
                    -moz-box-shadow: 0 0 5px rgba(120, 120, 120, 0.55);
                    -webkit-box-shadow: 0 0 5px rgba(120, 120, 120, 0.55);
                    box-shadow: 0 0 5px rgba(120, 120, 120, 0.55);
                }

                .col div img {
                    width: 125px;
                }
    </style>
