﻿@model IEnumerable<Meritokrat2.Models.AppModels.Lekcija>

@{
    ViewBag.Title = "Lekcije";
}

<div class="holder" style="font-size: 0.6em;font-family: 'Roboto Slab';color:#fff;">
    <h2 style="display: inline-block;">Lekcije</h2>
    <div class="form-group" style="float: right;">
        @using (Html.BeginForm("lekcije", "moderator", FormMethod.Get, new { id = "myForm" }))
        {
            <div style="width: 13px; height: 18px;"></div>
            <select class="form-control" name="razred" id="razredSelect">
                <option value="0" selected>Odaberite razred</option>
                <option value="6">6. razred</option>
                <option value="7">7. razred</option>
                <option value="8">8. razred</option>
            </select>
        }
    </div>

    <div id="lekcije-holder">
        <p style="font-size: 0.77em;">Prikazuju se lekcije za @ViewBag.Razred. razred</p>
        @foreach (var item in Model)
        {
            <a href="@Url.Action("pregled", "lekcija", new { id = item.LekcijaId })">
                <div class="lekcija">
                    <div id="rb-and-naziv" style="float: left;line-height: 47px;">
                        @Html.DisplayFor(modelItem => item.RBLekcije). @Html.DisplayFor(modelItem => item.Naziv)
                    </div>

                    <div style="float: right; font-size: 0.70em;vertical-align: central;" class="hide-small">
                        <i class="fas fa-check" style="font-size:0.85em; margin-right: 3.5px;"></i>
                        <b>
                            Riješena:
                        </b> @Html.DisplayFor(modelItem => item.RijesenaPuta) puta
                        <br />
                        <i class="fas fa-star" style="font-size:0.85em; margin-right: 3.5px;"></i>
                        <b>Prosijek:</b> @Html.DisplayFor(modelItem => item.Prosjek)

                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        }
    </div>
    <div style="margin-top: 12px;">

        <a href="@Url.Action("dodaj", "lekcija")" class="btn btn-primary" style="font-size: 0.66em;float: right;">
            <i class="fas fa-plus" style="font-size:0.85em; margin-right: 3.5px;"></i>
            Dodaj lekciju
        </a>
    </div>
    <div class="clearfix"></div>


</div>
<a href="@Url.Action("index", "moderator")" class="btn btn-warning" style="font-size: 0.36em;">
    <i class="fas fa-angle-left" style="font-size:0.85em; margin-right: 3.5px;"></i>
    Natrag
</a>

<template>
    <div class="lekcija">
        <div id="rb-and-naziv" style="float: left;line-height: 47px;">
        </div>

        <div style="float: right; font-size: 0.70em;vertical-align: central;">
            <i class="fas fa-check" style="font-size:0.85em; margin-right: 3.5px;"></i>
            <div id="rijesena-puta"></div>
            @*Riješena: @Html.DisplayFor(modelItem => item.RijesenaPuta) puta*@
            <br />
            <i class="fas fa-star" style="font-size:0.85em; margin-right: 3.5px;"></i>
            <div id="prosijek-tekst"></div>

            @*Prosijek: @Html.DisplayFor(modelItem => item.Prosjek)*@
        </div>
        <div class="clearfix"></div>
    </div>
</template>

@Scripts.Render("~/bundles/jquery")

<script>
    $('#razredSelect').change(function () {
        $('#myForm').submit();
    });
</script>