﻿
@{
    ViewBag.Title = "Prijava";
}

<div class="holder content">
    <div style="text-align: center;color:#fff;">
        <img id="prijava-mod-img" src="~/Content/Images/az-moderator.png" />
        <h2>Prijava</h2>
        <h4 style="font-weight: 100;"><b>Moderiranje sustava</b></h4>
    </div>
    <div class="prijava-input-holder shadow">
        <form action="@Url.Action("Prijava")" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            @Html.ValidationSummary(false, "", new { style = "margin-bottom: 20px;" })

            <b>Email:</b>
            <input type="email" class="form-control" name="Email" />
            <br />
            <b>Zaporka:</b>
            <input type="password" class="form-control" style="width: 100% !important;" name="Password" />
            <br />
            <div style="text-align: center;">
                <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Prijava</button>
                <br />
                <a href="#">Zaboravljena lozinka?</a>
            </div>
        </form>
    </div>
    @Html.ActionLink("Natrag", "index", "akademija", null, new { @class = "btn btn-warning" })
</div>

<style>
    .content {
        font-family: 'Roboto Slab';
        overflow: auto;
        padding: 60px 40px;
        -webkit-border-radius: 3.4px;
        border-radius: 3.4px;
        /*background-color: rgba(255, 255, 255, 0.65);*/
    }


    #prijava-mod-img {
        width: 108px;
        background-color: #ffffff;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid rgba(128, 128, 128, 0.35);
        padding: 30px;
    }

    .prijava-input-holder {
        font-size: 0.4em;
        padding: 40px;
        background-color: #fff;
        margin: 20px 0 0;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .form-control {
        width: 100% !important;
        box-sizing: border-box;
    }

    .shadow {
        -moz-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.75);
        -webkit-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.75);
        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.75);
    }

    .holder{
        padding-top: 17px;
    }

    @@media only screen and (min-width: 500px) {
        .content {
            -moz-box-shadow: 0 0 7px rgba(0, 0, 0,0.5);
            -webkit-box-shadow: 0 0 7px rgba(0, 0, 0,0.5);
            box-shadow: 0 0 7px rgba(0, 0, 0,0.5);
            -moz-border-radius: 3.4px;
            width: 50%;
            margin: auto;
        }
    }

    @@media only screen and (max-width: 501px) {
        .content {
            margin: 0;
        }
    }
</style>