﻿@model Meritokrat2.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@using Meritokrat2.Models.AppModels;


@{
    ViewBag.Title = "Upravljanje računom";
    var aktivnosti = ViewBag.Aktivnosti as List<Aktivnost>;
}

<div class="holder">
    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        <div>
            <h2 style="display:inline-block;">Postavke računa</h2>
            @{
                var username = User.Identity.GetUserName();
                if (username.Contains('@'))
                {
                    username = username.Substring(0, username.IndexOf('@'));
                }
            }
            <div style="float:right;padding-top: 5px;">
                <button onclick="window.location.href = '@Url.Action("Odjava", "Racun")'" tabindex="0" class="btn btn-warning" >
                    Odjava
                    <i class="fas fa-sign-out-alt" style="font-size:0.85em; margin-left: 3.5px;"></i>
                </button>
            </div>
            <h4><i class="fas fa-user-circle" style="margin-right: 9px;"></i><b>@username</b></h4>

        </div>
        <hr />

        <dl class="dl-horizontal" style="font-size: 0.5em;">
            <dt>Lozinka:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Promjena lozinke", "lozinka")
                }
                else
                {
                    @Html.ActionLink("Stvori", "SetPassword")
                }
                ]
            </dd>
        </dl>
        @if (aktivnosti != null && aktivnosti.Count > 0)
        {
            <div class="panel-group" style="display:block;">
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" href="#collapse2" style="cursor: pointer;">
                        <h4 class="panel-title">
                            <i class="fas fa-eye" style="margin-right: 5px;"></i>
                            <a>Pregled aktivnosti</a>
                            <span class="badge" style="float:right; border-radius: 3px;background-color:#999;">@aktivnosti.Count</span>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse" style="color: #171717;font-size:0.36em;">
                        <div class="panel-body">
                            <table class="table table-bordered table-striped table-condensed">
                                <thead>
                                    <tr>
                                        <th>Aktivnost</th>
                                        <th style="width: 18%;text-align:center;">Datum</th>
                                        <th style="width: 15%;text-align:center;">Vrijeme</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var aktivnost in aktivnosti)
                                    {
                                        <tr>
                                            <td>@aktivnost.OpisAktivnosti</td>
                                            <td style="text-align:center;">@aktivnost.DatumIVrijeme.ToString("dd.MM.yyyy")</td>
                                            <td style="text-align:center;">@aktivnost.DatumIVrijeme.ToString("HH:mm")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
        }
        else
        {
            <div class="alert alert-warning" style="margin-bottom:0;font-size:0.53em;">Nema aktivnosti za moderatora.</div>
        }
    </div>
</div>

<style>
    .holder {
        font-family: 'Roboto Slab';
        color: #fff;
        padding-top:0;
        margin-top: -10px;
    }
</style>