﻿@using Meritokrat2.Models.AppModels;
@using Meritokrat2.Models.AppModels.Kviz;
@using Meritokrat2.Data_Layer;

@{

    Lekcija lekcija = ViewBag.Lekcija as Lekcija;
    List<Pitanje> pitanja = ViewBag.Pitanja as List<Pitanje>;
    ViewBag.Title = lekcija.Naziv;
    IRepo repo = RepoFactory.GetRepo();

}
<link href="~/Content/Styles/CustomBoxes.css" rel="stylesheet" />
<div class="holder">
    <div class="tab-content">
        <form action="@Url.Action("_Igraj", "Akademija")" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" name="lekcijaId" value="@lekcija.LekcijaId" />
            <div id="lekcija" class="tab-pane fade in active">
                <h2>@lekcija.Naziv</h2>
                <hr />
                <div class="col-md-8 col-sm-6">
                    <video controls="controls" style="width: 100%;">
                        <source src="~/Content/Videos/@lekcija.GetVideoUrl()" type="video/mp4" />
                    </video>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="item">
                        <a data-toggle="pill" href="#kviz" class="btn btn-lg btn-primary" style="width: 100%;">Idi na kviz</a>
                    </div>
                    <div class="item" style="margin-top: 8px;font-family: 'Roboto Slab';">
                        <div style="margin-bottom: 5px;">
                            <h3 style="margin: 0;">Bilješke</h3>
                            <b>Bilješke ostaju spremljene.</b>
                        </div>
                        <textarea class="form-control" placeholder="Bilješke..." name="biljeske" maxlength="1000" rows="5"></textarea>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="kviz" class="tab-pane fade col-md-7 col-sm-6 k-holder" style="width: 100%;">
                <div>
                    <h3>@lekcija.Naziv - Kviz</h3>
                    <hr />
                    <div class="tab-content" style="font-family: 'Roboto Slab';padding-bottom: 20px;">
                        @for (int i = 0; i < pitanja.Count; i++)
                        {
                            var id = "lekcija" + i;
                            <div id="@id" class="tab-pane fade">
                                @{
                                    var forwardTab = $"#lekcija{i + 1}";
                                    var backwardTab = $"#lekcija{i - 1}";
                                    var odgovorName = $"odgovor{i}";
                                    var odgovori = repo.GetOdgovoriZaPitanje(pitanja[i].PitanjeId);

                                    if (pitanja[i].Tip == PitanjeType.Jedan_tocan)
                                    {
                                <div class="control-group">
                                    <h3 style="letter-spacing: 1.25px;"><b>@pitanja[i].TekstPitanja</b></h3>
                                    <br />
                                    @foreach (var odgovor in odgovori)
                                    {
                                        <label class="control control--radio">
                                            @odgovor.TekstOdgovora
                                            <input type="radio" name="@pitanja[i].PitanjeId" value="@odgovor.OdgovorId" />
                                            <div class="control__indicator"></div>
                                        </label>
                                    }
                                </div>
                                    }
                                    else if (pitanja[i].Tip == PitanjeType.Vise_tocnih)
                                    {
                                <div class="control-group">
                                    <h3 style="letter-spacing: 1.25px;"><b>@pitanja[i].TekstPitanja</b></h3>
                                    <br />

                                    @foreach (var odgovor in odgovori)
                                    {
                                        <label class="control control--checkbox">
                                            @odgovor.TekstOdgovora
                                            <input type="checkbox" name="@pitanja[i].PitanjeId" value="@odgovor.OdgovorId" />
                                            <div class="control__indicator"></div>
                                        </label>
                                    }
                                </div>

                                    }
                                    else if (pitanja[i].Tip == PitanjeType.Nadopuni)
                                    {
                                <div class="control-group">
                                    <h3 style="letter-spacing: 1.25px;"><b>@pitanja[i].TekstPitanja</b></h3>
                                    <br />
                                    <input type="text" class="form-control" name="@pitanja[i].PitanjeId" style="width: 100%;" placeholder="Odgovor..." />
                                </div>
                                    }
                                }
                                <hr />

                                @if (i != 0)
                                {
                                    <a data-toggle="pill" href="@backwardTab" class="btn btn-warning" style="float: left;">Natrag</a>
                                }
                                @if (i != pitanja.Count - 1)
                                {
                                    <a data-toggle="pill" href="@forwardTab" class="btn btn-info" style="float: right;">Dalje</a>
                                }
                                else
                                {
                                    <input type="submit" value="Pošalji kviz" class="btn btn-success" style="float: right;" />
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="clearfix"></div>

</div>

@Scripts.Render("~/bundles/jquery")


<script>
    $(function () {
        $('#lekcija0').addClass('in active');
    });
</script>

<style>
    .k-holder > div{
        background-color: rgba(255, 255, 255, 0.17);
        padding: 30px 20px !important;
    }

    .fade {
        display: none;
    }

    .in {
        display: block;
    }

    .holder {
        color: #fff;
        font-size: 0.46em;
    }

    .item {
        margin-left: 8px;
        background-color: rgba(255, 255, 255, 0.20);
        padding: 15px;
    }

    .col-sm-6 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    textarea.form-control {
        color: #000000;
        background-color: rgba(255, 255, 136, 0.8);
        min-width: 100%;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: 0;
    }

        textarea.form-control:placeholder {
            color: dimgray;
            opacity: 1;
        }

        textarea.form-control:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
            color: dimgray;
        }


    @@media only screen and (max-width: 800px) {
        .k-holder > div {
            background-color: rgba(0, 0, 0, 0.00);
            padding: 5px !important;
        }
        .item {
            margin-left: 0 !important;
        }
    }
</style>