﻿@using Meritokrat2.Data_Layer
@using Meritokrat2.Models.AppModels
@using System.Threading;

@{
    ViewBag.Title = "Akademija znanja";
    Ucenik ucenik = ViewBag.Ucenik as Ucenik;
    List<UcenikLekcija> lekcije = ViewBag.Lekcije as List<UcenikLekcija>;
    Lekcija sljedecaLekcija = ViewBag.SljedecaLekcija as Lekcija;
    IRepo repo = RepoFactory.GetRepo();
}



<div class="holder" style="min-height: 800px; color: #fff; font-size: 0.45em;">
    <div class="col-md-12 col-sm-6 -holder animated flipInX" style="text-align: center; padding: 5px; margin-bottom: 5px;">
        <img style="width: 250px;" src="~/Content/Images/logo.png" />
    </div>

    <div class="">
        <div class="col-md-4 col-sm-12" >
            <div class="profile-holder" style="padding: 10px;">
                <div class="profile-holder2">
                    <img id="igracLik" src="~/Content/Images/az-prijava.png" />
                    <div style="display: inline-block; padding-left: 7px;">
                        @if (ucenik != null)
                        {
                            <b>Nadimak: </b>@ucenik.Nadimak
                            <br />
                            <b>Škola: </b>@ucenik.Skola
                            <br />
                            <b>Rezultat : </b>@ucenik.Rezultat
                        }
                    </div>
                </div>
            </div>
            <a href="@Url.Action("Index", "Rezultati")" class="col-md-12 col-sm-6 btn btn-warning btn-xl" style="margin-top: 7px;width: 100%;font-size: 1em;">
                <i class="fas fa-poll" style="font-size:0.85em; margin-right: 3.5px;"></i>
                Rezultati
            </a>
            @if (sljedecaLekcija != null)
            {

                if (ucenik.MozeIgrati())
                {
                    <div class="yes-holder" style="padding: 10px;margin-top: 52.5px;">
                        <div class="profile-holder2" style="text-align:center;">
                            <h4>Vaša lekcija za danas je spremna!</h4>
                            <h5>Klikom na gumb 'Kreni' pokrećete lekciju.</h5>
                        </div>
                    </div>
                }
                else
                {
                    <div class="no-holder" style="padding: 10px;margin-top: 52.5px;">
                        <div class="profile-holder2" style="text-align:center;">
                            <h4>Već ste odigrali igru za danas...</h4>
                            <h5>Pokušajte ponovno sutra.</h5>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-md-12 col-sm-12">
                    <div class="no-holder" style="padding: 10px;margin-top: 5.5px;">
                        <div class="profile-holder2" style="text-align:center;">
                            <h4>Nema sljedeće lekcije</h4>
                        </div>
                    </div>
                </div>
            }
            <div class="trenutna-lekcija-holder" style="padding: 10px;margin-top: 5.8px;">
                <div class="profile-holder2">

                    <h3 style="margin: 0 0 7px 0;">Sljedeća lekcija:</h3>
                    <video style="width: 100%;">
                        <source src="~/Content/Videos/@sljedecaLekcija.GetVideoUrl()" type="video/mp4" />
                    </video>
                    <div style="margin-bottom: 7px;padding: 5px; background-color: rgba(234, 234, 234, 0.17);" class="-holder">
                        <h4 style="display:inline;line-height: 34px;margin-left:5px;"><b>@sljedecaLekcija.RBLekcije. @sljedecaLekcija.Naziv</b></h4>
                        @if (ucenik.MozeIgrati())
                        {
                            @Html.ActionLink("Kreni", "Igraj", null, new { @class = "btn btn-success", style = "float: right; width: 100px;" })
                        }
                        else
                        {
                            <button class="btn btn-default disabled" style="float: right; width: 100px;">Igraj</button>

                        }
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-8 col-sm-6 lekcije">
            <div>
                <div class="lekcijeH">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <button type="button" class="btn btn-default btn-sm spoiler-trigger" data-toggle="collapse">Riješene lekcije</button>
                        </div>
                        <div class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="scrollbar" style="width: 100%;" id="style-1">
                                    <div class="force-overflow">
                                        @if (lekcije.Count > 0)
                                        {
                                            foreach (var ul in lekcije)
                                            {
                                                var _lek = repo.GetLekcija(ul.IdLekcija);
                                                if (_lek != null)
                                                {
                                                    <div class="lekcija animated fadeIn">
                                                        <a href="@Url.Action("lekcija", "akademija", new { id = _lek.LekcijaId })">
                                                            <div style="display: inline-block;">
                                                                @_lek.RBLekcije. @_lek.Naziv
                                                            </div>
                                                            <div style="display: inline-block;float:right;">
                                                                <b>Bodovi: </b> @ul.Bodovi / @_lek.MaxBodovi
                                                                <i class="fas fa-star" style="font-size:0.85em; margin-left: 3.5px;"></i>
                                                            </div>
                                                        </a>

                                                    </div>
                                                }

                                            }
                                        }
                                        else
                                        {
                                            <p style="text-align: center; line-height:30px; margin-top: -17.5px;">
                                                <br />
                                                <i class="fas fa-edit" style="font-size:2.95em; margin-left: 3.5px;margin-bottom:13px;"></i>
                                                <br />
                                                Niste još riješili ni jednu lekciju.<br /> Možete to učiniti klikom na gumb <b>Kreni</b>.
                                                <br />
                                                @Html.ActionLink("Kreni", "Igraj", null, new { @class = "btn btn-success", style = "width: 190px; margin-top: 15px;" })
                                            </p>

                                            <div class="clearfix"></div>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>

                        <style>
                            .panel-collapse {
                                background-color: none;
                                color: #000;
                            }
                        </style>

                    </div>
                </div>
            </div>


        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")

    <script>
        $(".spoiler-trigger").click(function () {
            $(this).parent().next().collapse('toggle');
        });
    </script>

    <style>

        @@media only screen and (max-width: 800px) {
            .body-content {
                padding-left: 0px !important;
                padding-right: 0 !important;
            }

            h2 {
                font-size: 2.2em !important;
                margin-bottom: 25px;
            }

            .lekcijeH {
                margin-right: 0px !important;
            }

            .lekcije {
                margin-top: 8px;
            }

            .container > .navbar-header {
                margin-left: 0;
                margin-right: 0;
            }

            .container {
                padding-left: 0px !important;
                padding-right: 0px !important;
            }

            .lekcijeH {
                margin-left: 0px !important;
            }

            .yes-holder, .no-holder {
                margin-top: 5.5px !important;
            }
        }

        .col-sm-12 {
            padding-left: 0;
            padding-right: 0;
        }

        .panel-default {
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            border-radius: 0px;
            width: 100%;
        }


        .lekcijeH {
            margin-left: 5px;
        }

        #logo {
            width: 200px;
            padding: 30px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background-color: white;
        }

        .-holder {
            border: 1px solid #ccc;
            background-color: rgba(255, 255, 255, 0.40);
        }

        .yes-holder {
            border: 1px solid #ccc;
            background-color: rgba(115, 217, 56, 0.51);
            font-family: 'Roboto Slab';
        }

        .no-holder {
            border: 1px solid #ccc;
            background-color: rgba(111, 202, 255, 0.34);
            font-family: 'Roboto Slab';
        }


        .profile-holder {
            border: 1px solid #ccc;
            background-color: rgba(255, 255, 255, 0.20);
            font-family: 'Roboto Slab';
        }

        .trenutna-lekcija-holder {
            border: 1px solid #ccc;
            background-color: rgba(255, 255, 255, 0.20);
            font-family: 'Roboto Slab';
        }

        #igracLik {
            border: 2px solid #fff;
            width: 70px;
            display: inline-block;
            vertical-align: top;
            margin: 5px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }

        .lekcije {
            font-family: 'Roboto Slab';
            padding: 0;
        }

        .panel-default {
            background-color: rgba(199, 199, 199, 0.25) !important;
        }

        .panel-body {
            color: #fff !important;
        }

        .panel-default > .panel-heading {
            background-color: rgba(199, 199, 199, 0.45) !important;
        }
    </style>

    <style>
        header {
            font-family: 'Lobster', cursive;
            text-align: center;
            font-size: 25px;
        }

        #info {
            font-size: 18px;
            color: #555;
            text-align: center;
            margin-bottom: 25px;
        }

        a {
            color: #074E8C;
        }
    </style>
