﻿@model Meritokrat2.Models.AppModels.Lekcija
@using Meritokrat2.Models.AppModels;
@{
    var ucenikLekcija = ViewBag.UcenikLekcija as UcenikLekcija;
    var bodovi = ucenikLekcija.Bodovi;

    if (Model != null)
    {
        ViewBag.Title = Model.Naziv;
    }
}

@if (Model != null)
{
    <div class="holder">
        <h2>@Model.Naziv</h2>
        <div style="font-size: 0.5em;" class="animated flipInX">
            @if (ViewBag.Rjesena == true)
            {
                if (bodovi >= 5)
                {
                    <div class="alert alert-success alert-dismissible">
                        <i class="fas fa-star" style="font-size:0.85em; margin-right: 3.5px;"></i>

                        Uspješno ste prošli lekciju i dobili @bodovi bodova.
                    </div>
                }
                else if (bodovi >= 2)
                {
                    <div class="alert alert-info alert-dismissible">
                        <i class="fas fa-star" style="font-size:0.85em; margin-right: 3.5px;"></i>

                        Prošli ste lekciju i dobili @bodovi boda.
                    </div>
                }
                else if (bodovi == 1)
                {
                    <div class="alert alert-warning alert-dismissible">
                        <i class="fas fa-star" style="font-size:0.85em; margin-right: 3.5px;"></i>

                        Dobili ste 1 bod za ovu lekciju.
                    </div>
                }
                else if (bodovi == 0)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <i class="fas fa-star" style="font-size:0.85em; margin-right: 3.5px;"></i>

                        Niste dobili ni jedan bod za ovu lekciju.
                    </div>
                }

            }
        </div>
        <hr />
        <div class="col-md-8 col-sm-6" style="margin-top: 8px;padding-right: 8px;">
            <video controls="controls" style="width: 100%;">
                <source src="~/Content/Videos/@Model.GetVideoUrl()" type="video/mp4" />
            </video>
        </div>
        <div class="col-md-4 col-sm-6" style="margin-top: 8px;">
            <div style="font-size: 0.5em; padding:11px;" class="_bdr">
                <b>Bodovi:</b> @ucenikLekcija.Bodovi / @Model.MaxBodovi
                <i class="fas fa-star" style="font-size:0.77em; margin-right: 3.5px;"></i>
                <br />
                <b>Prosjek za lekciju:</b> @Model.Prosjek
                <i class="fas fa-star" style="font-size:0.77em; margin-right: 3.5px;"></i>
                <br />
                <b>Datum rješavanja:</b> @ucenikLekcija.DatumRjesavanja.ToString("dd.MM.yyyy, HH:mm")
            </div>
            <div class="_ta">
                <textarea class="form-control" placeholder="Bilješke..." name="biljeske" maxlength="1000" rows="5" style="min-width: 100%;" disabled>@ViewBag.Biljeske</textarea>
            </div>
            <div style="font-size: 0.5em;">
            </div>

        </div>
        <div class="col-md-12 col-sm-6" style="margin-top: 8px;">
            <div class="comments">
                <i class="fas fa-comments" style="font-size:0.85em; margin-right: 3.5px;"></i>
                Komentari
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
}


<style>
    .holder {
        color: #fff;
        font-family: 'Roboto Slab';
    }

    .col-sm-6 {
        padding-left: 0;
        padding-right: 0;
    }

    #logo {
        width: 270px;
    }

    .col-md-4 {
        background-color: rgba(255, 255, 255, 0.20);
        padding: 12px;
    }

    .comments {
        background-color: rgba(157, 177, 217, 0.23);
        height: 200px;
        color: #fff;
        text-align: center;
        font-size: 0.66em;
        line-height: 200px;
    }

    textarea.form-control {
        color: #000000;
        background-color: rgba(255, 255, 136, 0.8) !important;
        min-width: 100%;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        border: 0;
    }

        textarea.form-control:placeholder {
            color: dimgray;
            opacity: 1;
        }

        textarea.form-control:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
            color: dimgray;
        }

    @@media only screen and (max-width: 800px) {
        .btn-lg {
            width: 80% !important;
        }

        .col-sm-6 {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        .item {
            margin-left: 0 !important;
            padding: 20px;
        }

        ._ta {
            margin: 5px 10px 0;
        }

        ._bdr {
            padding-left: 22px !important;
        }
    }
</style>