﻿.holder {
    background-color: rgba(225, 225, 225, 0.17);
    padding: 20px;
    -moz-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.26);
    -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.26);
}

a, a:hover, a:visited, a:focus {
    color: inherit !important;
    text-decoration: none !important;
}

    a.btn {
        color: #fff !important;
        text-shadow: 0px 0px 3px rgba(31, 31, 31, 0.95);
    }


.col {
    padding: 5px;
}

    .col div {
        padding: 15px 15px 5px;
        font-size: 0.8em;
        background-color: white;
        opacity: 0.7;
        -moz-transition: opacity 0.3s ease-in, box-shadow 0.3s;
        -o-transition: opacity 0.3s ease-in, box-shadow 0.3s;
        -webkit-transition: opacity 0.3s ease-in, box-shadow 0.3s;
        transition: opacity 0.3s ease-in, box-shadow 0.3s;
    }

        .col div:hover {
            opacity: 1;
            -moz-box-shadow: 0 0 5px rgba(120, 120, 120, 0.55);
            -webkit-box-shadow: 0 0 5px rgba(120, 120, 120, 0.55);
            box-shadow: 0 0 5px rgba(120, 120, 120, 0.55);
        }



h1 {
    font-size: 1.3em;
    color: #fff;
    text-shadow: 1.5px 1.5px 3px rgba(0,0,0,0.5);
}

@media only screen and (max-width: 800px) {

    .hide-small {
        display: none;
    }

    h1 {
        font-size: 0.9em;
    }

    h2 {
        margin-top: 0px !important;
    }

    .lekcija {
        background-color: none;
    }

    video {
        width: 100%;
    }

    .body-content {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

        .body-content > a {
            margin-left: 10px !important;
            margin-right: 10px !important;
        }

    .holder {
        width: 100% !important;
    }
}


.lekcija {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    margin: 5px 0;
    -moz-transition: background-color 0.4s ease-in;
    -o-transition: background-color 0.4s ease-in;
    -webkit-transition: background-color 0.4s ease-in;
    transition: background-color 0.4s ease-in;
}

    .lekcija div img {
        width: 125px;
    }

    .lekcija:hover {
        background-color: rgba(255, 255, 255, 0.6);
    }

input, select, textarea {
    max-width: 100% !important;
}
