﻿@media only screen and (max-width: 800px) {
    .col-sm-12

{
    overflow-x: scroll;
}

}

.topSkola {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    padding-bottom: 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.90);
    text-align: center;
}

.topIgraci {
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.90);
    text-align: center;
}

.igrac {
    border-radius: 50%;
    background-color: #fff;
    width: 80px;
    height: 80px;
    display: inline-block;
    cursor: pointer;
}

.i1 {
    -moz-box-shadow: rgb(247, 235, 0) 0 0 8px;
    -webkit-box-shadow: rgb(247, 235, 0) 0 0 8px;
    box-shadow: rgb(247, 235, 0) 0 0 8px;
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    margin-left: 22px;
    margin-right: 22px;
    z-index: 999 !important;
}

.i2 {
    -moz-box-shadow: rgb(148, 148, 148) 0 0 8px;
    -webkit-box-shadow: rgb(148, 148, 148) 0 0 8px;
    box-shadow: rgb(148, 148, 148) 0 0 8px;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1;
}

.i3 {
    -moz-box-shadow: rgb(109, 50, 0) 0 0 8px;
    -webkit-box-shadow: rgb(109, 50, 0) 0 0 8px;
    box-shadow: rgb(109, 50, 0) 0 0 8px;
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    z-index: 1 !important;
}

.igrac img {
    width: inherit;
}

#DataTables_Table_0_paginate > ul > li a, #DataTables_Table_1_paginate > ul > li a, #table1_paginate > ul > li a {
    color: rgba(29, 29, 29, 0.76) !important;
    text-shadow: rgba(255, 255, 255, 0.79) 0 0 2.6px;
}

table {
    background-color: rgba(20, 20, 20, 0.31);
}


.holder {
    font-size: 0.46em;
    font-family: 'Roboto Slab';
    color: #fff;
}

.nav-justified li {
    padding: 2px;
}

    .nav-justified li a {
        border: 1px solid #fff;
    }

.tab-pane {
    width: 100%;
}

.nav-justified a:hover {
    background-color: rgba(222, 222, 222, 0.19) !important;
}

@media only screen and (min-width: 600px) {
    ::-webkit-scrollbar {
        display: none;
    }

    ::-webkit-scrollbar-button {
        display: none;
    }

    body {
        -ms-overflow-style: none;
    }
}
