﻿@using Meritokrat2.Models.AppModels;

@{
    ViewBag.Title = "Dodavanje pitanja";
    Lekcija lekcija = ViewBag.Lekcija as Lekcija;
}

<div class="holder" style="min-height: 600px;font-size: 0.66em;">
    @if (lekcija != null)
    {
        <div>
            <h3 style="font-size: 1em;">
                Dodavanje pitanja za lekciju:
            </h3>
            <h3>
                <b>@lekcija.Naziv</b>
            </h3>
        </div>
    }
    <div id="validatonModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="alert alert-danger">
                        Pitanja i odgovori su obvezni.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" style="display:inline-block;float:right;" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
        
    <form action="@Url.Action("Dodaj", "Kviz")" method="post" onsubmit="return validateForm()">
        <input type="hidden" name="LekcijaId" value="@lekcija.LekcijaId" />
        <div class="col-md-7 col-sm-6">
            <div id="pitanja">

            </div>
            <div style="text-align: right;">
                <button type="button" id="dodajPitanje" class="btn btn-primary" style="font-size: 0.70em; margin-bottom: 5px; width:100%">
                    <i class="fas fa-plus" style="font-size:0.85em; margin-right: 3.5px;"></i>
                    Dodaj novo pitanje
                </button>
            </div>
        </div>
        <div class="col-md-5 col-sm-6">
            <div class="spremiHolder">
                <div style="background-color: rgba(226, 226, 226, 0.12); padding: 10px; font-size: 0.66em; margin-bottom: 10px;">
                    <input type="submit" value="Spremi kviz" class="btn btn-success" style="width: 100%;">
                </div>
            </div>
            <div class="spremiHolder">
                <div style="background-color: rgba(226, 226, 226, 0.12); padding: 10px; font-size: 0.66em;">
                    <h3 style="margin: 0 0 7px">
                        <i class="fas fa-info-circle" style="font-size:0.75em; margin-right: 3.5px;"></i>

                        Upute
                    </h3>
                    <p>Prilikom unosa pitanja <b>unesite sva polja</b>.</p>
                    <p>Prilikom unošenja odgovora, odgovore odvajajte <b>prelaskom u novi red</b>.</p>
                    <p>Kod <b>"1 točan"</b> unesite sve odgovore te ispred točnog odgovora dodajte * (zvjezdicu).</p>
                    <p>Kod <b>"Više točnih"</b> unesite sve odgovore te ispred točnih odgovora dodajte * (zvjezdice).</p>
                    <p>Kod <b>"Nadopuni"</b> unesite sve moguće točne odgovore (bez zvjezdice) odvojene novim redom. Odgovori <b>nisu</b> osjetljivi na velika i mala slova.</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
</div>

<a href="@Url.Action("pregled", "kviz", new { id =lekcija.LekcijaId })" class="btn btn-warning" style="font-size: 0.36em;">
    <i class="fas fa-angle-left" style="font-size:0.85em; margin-right: 3.5px;"></i>
    Natrag
</a>

@Scripts.Render("~/bundles/jquery")

<script>
    let trenutnaPitanja = 1;
    $(document).ready(function () {
        addPitanje();
        $("#dodajPitanje").click(function () {
            addPitanje();
        });
    });

    function addPitanje() {
        let pitanjeTemplate = document.querySelector("#pitanjeTemplate");
        let pitanje = document.importNode(pitanjeTemplate.content, true);

        let brojPitanja = trenutnaPitanja++;
        pitanje.getElementById("tekst").name = "tekst_" + brojPitanja;
        pitanje.getElementById("odgovor").name = "odgovor_" + brojPitanja;
        pitanje.getElementById("tip1").name = "tip_" + brojPitanja;
        pitanje.getElementById("tip2").name = "tip_" + brojPitanja;
        pitanje.getElementById("tip3").name = "tip_" + brojPitanja;

        pitanje.getElementById("tip1").id = "tipId_1_" + brojPitanja;
        pitanje.getElementById("tip2").id = "tipId_2_" + brojPitanja;
        pitanje.getElementById("tip3").id = "tipId_3_" + brojPitanja;

        pitanje.getElementById("label1").htmlFor = "tipId_1_" + brojPitanja;
        pitanje.getElementById("label2").htmlFor = "tipId_2_" + brojPitanja;
        pitanje.getElementById("label3").htmlFor = "tipId_3_" + brojPitanja;

        pitanje.getElementById("izbrisiPitanje").addEventListener("click", function (event) {
            let deleteCardIcon = event.target;
            let card = deleteCardIcon.parentElement.parentElement;
            card.remove();
        });

        document.querySelector("#pitanja").appendChild(pitanje);

        var el = document.getElementsByClassName("holder")[0];
        //el.style.height = el.offsetHeight + 200 + 'px';
    }

    function validateForm() {
        var textAreas = document.getElementsByTagName("textarea");

        for (var i = 0; i < textAreas.length; i++) {
            var value = textAreas[i].value;

            if (value == "") {
                $("#validatonModal").modal("show");
                textAreas[i].style.border = "thick groove red";
                textAreas[i].scrollIntoView();
                return false;
            }
        }
        return true;
    }

</script>

<template id="pitanjeTemplate" class="font">
    <div style="margin-bottom: 5px;">
        <div id="pitanjeid" style="background-color: rgba(112, 112, 112, 0.21);padding: 13px;">
            <span style="font-size: 0.77em;">Pitanje</span>
            <textarea id="tekst" name="name" value="" placeholder="Tekst pitanja" class="form-control input-block-level input-validation-error" style="width:700px;" data-val="true" data-val-required="Pitanje je obvezno"></textarea>
            <div class="switch-field">
                <input type="radio" id="tip1" name="switch_3" value="Jedan_tocan" checked />
                <label id="label1">1 točan</label>
                <input type="radio" id="tip2" name="switch_3" value="Vise_tocnih" />
                <label id="label2">Više točnih</label>
                <input type="radio" id="tip3" name="switch_3" value="Nadopuni" />
                <label id="label3">Nadopuni</label>
            </div>
            <textarea id="odgovor" name="name" value="" placeholder="Unesite odgovore odvojene novim redom
Ispred točnog odgovora stavite * (zvjezdicu)" class="form-control input-block-level" style="width:700px; height: 14vh;"></textarea>
            <div style="padding: 7px 0 0; text-align: right;">
                <button type="button" id="izbrisiPitanje" class="btn btn-danger" style="font-size: 0.60em;">
                    <i class="fas fa-trash-alt" style="font-size:0.85em; margin-right: 3.5px;"></i>
                    Izbriši pitanje
                </button>
            </div>
        </div>
    </div>
</template>

<style>
    .holder {
        font-family: 'Roboto Slab';
        color: #fff;
    }

    .font {
        font-family: 'Roboto Slab';
        color: #fff;
        font-size: 0.66em;
    }

    .col-sm-6 {
        padding: 0 !important;
    }

    h3 {
        margin-top: 5px;
        margin-bottom: 8px;
    }

    .spremiHolder {
        padding: 0 10px;
    }

    @@media only screen and (max-width: 800px) {
        .spremiHolder {
            padding: 0;
        }
    }
</style>


<style>
    .switch-field {
        font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
        overflow: hidden;
        margin-top: 7px;
    }

    .switch-title {
        margin-bottom: 6px;
    }

    .switch-field input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }

    .switch-field label {
        float: left;
    }

    .switch-field label {
        display: inline-block;
        width: 33.3333333%;
        background-color: #e4e4e4;
        color: rgba(0, 0, 0, 0.6);
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        text-shadow: none;
        padding: 6px 14px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

        .switch-field label:hover {
            cursor: pointer;
        }

    .switch-field input:checked + label {
        background-color: #3e7ab7;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;
    }

    .switch-field label:first-of-type {
        border-radius: 4px 0 0 4px;
    }

    .switch-field label:last-of-type {
        border-radius: 0 4px 4px 0;
    }
</style>
