﻿@model IEnumerable<Meritokrat2.Models.AppModels.Kviz.Pitanje>
@using Meritokrat2.Data_Layer;
@using Meritokrat2.Models.AppModels.Kviz;
@using Meritokrat2.Models.AppModels;

@{
    ViewBag.Title = "Kviz";
    Lekcija lekcija = ViewBag.Lekcija as Lekcija;
    Kviz kviz = ViewBag.Kviz as Kviz;

    IRepo repo = RepoFactory.GetRepo();
}

<div class="holder" style="min-height: 500px;font-size: 0.66em;">
    @if (lekcija != null)
    {
        <h3 style="margin: 0 0 5px">Pregled kviza</h3>
        <h2 style="margin: 0 0 5px"><b>Lekcija: </b>@lekcija.Naziv</h2>
    }
    <hr />
    <div class="items">
        @if (kviz == null)
        {
            <div class="item">
                <h4 style="display:inline-block;">Još nema kviza...</h4>
                <div style="display:inline-block;float: right;">
                    <a href="@Url.Action("dodaj", "kviz", new { id = lekcija.LekcijaId })" class="btn btn-primary" style="font-size: 0.60em;">
                        <i class="fas fa-plus" style="font-size:0.85em; margin-right: 3.5px;"></i>
                        Dodaj
                    </a>
                </div>
            </div>
        }
        else
        {
            if (Model.Count() > 0)
            {
                foreach (var pitanje in Model)
                {
                    List<Odgovor> odgovori = repo.GetOdgovoriZaPitanje(pitanje.PitanjeId);
                    <div class="item" style="font-size: 0.73em;">
                        @pitanje.TekstPitanja
                        <div style="float: right; display: inline-block;">
                            <button type="button" class="btn btn-sm btn-primary" onclick="itemClick(this);">Detalji</button>
                        </div>
                        <div class="odgovor">
                            <hr />
                            <div class="col-md-7 col-sm-6">
                                <b>Odgovori:</b>
                                <ul>
                                    @foreach (var odgovor in odgovori)
                                    {
                                        <li>@odgovor.TekstOdgovora</li>
                                    }
                                </ul>
                            </div>
                            <div class="col-md-5 col-sm-6" style="text-align: right;">
                                <a href="@Url.Action("uredi", "kviz", new { id =lekcija.LekcijaId })" class="btn btn btn-warning" style="font-size: 0.72em;">
                                    <i class="fas fa-edit" style="font-size:0.85em; margin-right: 3.5px;"></i>
                                    Uredi
                                </a>
                                <a href="@Url.Action("izbrisi", "pitanje", new { id = pitanje.PitanjeId, lekcijaId=lekcija.LekcijaId })" class="btn btn btn-danger" style="font-size: 0.72em;"
                                   onclick="confirm('Jeste li sigurni da želite izbrisati ovo pitanje?')">
                                    <i class="fas fa-trash" style="font-size:0.85em; margin-right: 3.5px;"></i>
                                    Izbriši
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                }
            }
        }
        @if (Model.Count() > 0)
        {
            <a href="@Url.Action("dodaj", "kviz", new { id=lekcija.LekcijaId })" class="btn btn-success btn-xl" style="font-size: 0.66em;width: 100%;">
                <i class="fas fa-plus" style="font-size:0.85em; margin-right: 3.5px;"></i>
                Dodaj još pitanja
            </a>
        }
        else
        {
            <a href="@Url.Action("dodaj", "kviz", new { id=lekcija.LekcijaId })" class="btn btn-success btn-xl" style="font-size: 0.66em;width: 100%;">
                <i class="fas fa-plus" style="font-size:0.85em; margin-right: 3.5px;"></i>
                Dodaj pitanja
            </a>
        }
    </div>
</div>
<a href="@Url.Action("lekcije", "moderator")" class="btn btn-warning" style="font-size: 0.36em;">
    <i class="fas fa-angle-left" style="font-size:0.85em; margin-right: 3.5px;"></i>
    Natrag
</a>

@Scripts.Render("~/bundles/jquery")


<style>
    .holder {
        font-family: 'Roboto Slab';
        color: #fff;
    }

    .item {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 20px;
        margin: 5px 0;
    }

        .item .odgovor {
            display: none;
        }
</style>

<script>

    function itemClick(target) {
        var odgovor = target.parentElement.parentElement.querySelector('.odgovor');
        if (odgovor.style.display === 'block') {
            odgovor.style.display = 'none';
        } else {
            odgovor.style.display = 'block';
        }
    }
</script>
