﻿
@{
    ViewBag.Title = "Prijava";
}

<div class="holder content">
    <div style="text-align: center">
        <img id="prijava-mod-img" src="~/Content/Images/az-prijava.png" />
        <h2>Prijava</h2>
        <h4 style="font-weight: 100;"><b>Prijava kao učenik</b></h4>
    </div>
    <div class="prijava-input-holder shadow col-md-4 col-md-offset-4 col-sm-6">
        <p>Prijava dostupna putem AAI identiteta:</p>
        <div style="text-align: center;">
            <a href="#">
                <img id="aai-img" src="~/Content/Images/aaiedu.png" />
            </a>
        </div>
    </div>
</div>

<style>
    .content {
        font-family: 'Roboto Slab';
        overflow: auto;
        padding: 60px 40px;
        -webkit-border-radius: 3.4px;
        border-radius: 3.4px;
    }

    .holder{
        color: #fff;
        padding-top: 15px;
    }

    #prijava-mod-img {
        width: 108px;
        background-color: #ffffff;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 1px solid rgba(128, 128, 128, 0.35);
        padding: 30px;
    }

    .prijava-input-holder {
        font-size: 0.4em;
        padding: 40px;
        background-color: #fff;
        color: rgba(0, 0, 0, 0.93);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    #aai-img {
        width: 100%;
        border: 1px solid rgba(128, 128, 128, 0.35);
    }

    .form-control {
        width: 100% !important;
        box-sizing: border-box;
    }

    .shadow {
        -moz-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.75);
        -webkit-box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.75);
        box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.75);
    }

    @@media only screen and (min-width: 500px) {
        .content {
            -moz-box-shadow: 0 0 7px rgba(0, 0, 0,0.5);
            -webkit-box-shadow: 0 0 7px rgba(0, 0, 0,0.5);
            box-shadow: 0 0 7px rgba(0, 0, 0,0.5);
            -moz-border-radius: 3.4px;
        }

    }

    @@media only screen and (max-width: 501px) {
        .content {
            margin: 0;
        }

    }
</style>