﻿
@{
    ViewBag.Title = "Statistika";
}
<script src="~/Scripts/Chart.js"></script>
<link href="~/Content/Styles/RezultatiStyle.css" rel="stylesheet" />

<div class="holder">
    <div>
        <h2>Statistika Meritokrata</h2>
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="pill" href="#rijeseneLekcijePoDanuTab">Riješene lekcije po danu</a></li>
            <li><a data-toggle="pill" href="#brojPrijavaPoDanuTab">Broj prijava po danu</a></li>
            <li><a data-toggle="pill" href="#brojPrijavaPoDanuTab">Najbolje riješene lekcije</a></li>
        </ul>

        <div class="tab-content">
            <div id="rijeseneLekcijePoDanuTab" style="padding-top: 20px;" class="tab-pane fade in active">
                <canvas id="line-chart"></canvas>

            </div>
            <div id="brojPrijavaPoDanuTab" style="padding-top: 20px;" class="tab-pane fade">
            </div>
        </div>
    </div>

</div>

<style>
    .holder {
        margin-top: 0px;
        padding: 20px !important;
        color: #fff;
        font-family: 'Roboto Slab';
    }

    canvas {
        background-color: rgba(255, 255, 255, 0.75);
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-transition: background-color 0.4s;
        -o-transition: background-color 0.4s;
        -webkit-transition: background-color 0.4s;
        transition: background-color 0.4s;
    }

        canvas:hover {
            background-color: rgba(255, 255, 255, 1);
        }
</style>


<script>
    var d = new Date();
    var n = d.getDate();

    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: [16.3, 17.3, 18.3, 19.3, 20.3, 21.3, 22.3, 23.3, 24.3, 25.3],
            datasets: [{
                data: [222, 243, 231, 279, 392, 400, 405, 408, 444, 420],
                label: "6. razred",
                borderColor: "#3e95cd",
                fill: false
            }, {
                data: [622, 333, 222, 112, 327, 226, 382, 472, 312, 433],
                label: "7. razred",
                borderColor: "#c45850",
                fill: false
            }, {
                data: [232, 239, 277, 299, 371, 265, 282, 172, 312, 333],
                label: "8. razred",
                borderColor: "#e8c3b9",
                fill: false
            }
            ]
        },
        options: {
            title: {
                display: true,
                text: 'Broj riješenih lekcija po danu'
            }
        }
    });
</script>
