﻿@model Meritokrat2.Models.AppModels.Lekcija

@{
    ViewBag.Title = "Dodavanje lekcije";
}

<div class="holder" style="min-height: 400px;">
    <h2>@ViewBag.Title</h2>
    <hr />

    <form action="@Href("~/Lekcija/Dodaj")" method="post" id="postForm" enctype="multipart/form-data">
        @Html.AntiForgeryToken()

        <div class="form-horizontal col-sm-6 col-md-7" style="font-size: 0.8em; padding: 20px;background-color: rgba(228, 228, 228, 0.35);">
            @Html.ValidationSummary()
            <div class="form-group">
                @Html.LabelFor(model => model.Naziv, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Naziv, new { htmlAttributes = new { @class = "form-control", placeholder = "naziv lekcije..." } })
                    @Html.ValidationMessageFor(model => model.Naziv, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Razred, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <select name="Razred" class="form-control">
                        <option selected value="6">6. razred</option>
                        <option value="7">7. razred</option>
                        <option value="8">8. razred</option>
                    </select>
                  
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Dodaj" class="btn btn-primary" style="width: 100%;" />
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-5">
            <div style="background-color: rgba(228, 228, 228, 0.35); text-align: center; height: 100px;">
                <p class="narrow text-center" style="line-height: 100px;">
                    <label class="btn btn-success" id="videoInputLabel" for="videoInput">Odaberite video za upload.</label>
                    <input type="file" name="file" id="videoInput" style="display: none;" accept="video/*" />
                    <br />
              
                    @Html.EditorFor(model => model.IdVideo, new { htmlAttributes = new { @class = "form-control", } })
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <br />
        @Html.ActionLink("< Sve lekcije", "lekcije", "moderator", null, new { @class = "btn btn-warning" })
    </form>
</div>

<style>
    .holder {
        font-size: 0.5em;
        font-family: 'Roboto Slab';
        color: #fff;
    }
</style>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<script>
    $("#videoInput").change(function () {
        var videoName = $("#videoInput").val();

        if (videoName !== "") {
            $("#videoInputLabel").text(videoName.substring(videoName.lastIndexOf('\\') + 1));
            $("#IdVideo").val(videoName);
        }
    });


</script>

<style>
    @@media only screen and (max-width: 800px) {
        .col-md-5 {
            margin-top: 7px;
            padding: 0;
        }
    }

    @@media only screen and (min-width: 800px) {
        .col-md-5 {
            padding-left: 7px;
        }
    }

    #IdVideo {
        visibility: hidden;
    }
</style>