﻿@model Meritokrat2.Models.AppModels.Lekcija

@{
    ViewBag.Title = Model.Naziv;
}


<div class="holder" style="color: #fff;min-height: 600px;">
    <div style="font-size: 0.6em; padding: 5px;">
        <h2 style="display: inline-block;">@Html.DisplayFor(model => model.Naziv)</h2>
        <div style="float: right">
            <div style="width: 20px; height: 17px;" class="hide-small"></div>
            <a href="@Url.Action("uredi", "lekcija", new { id=Model.LekcijaId })" class="btn btn-warning" style="font-size: 0.60em;">
                <i class="fas fa-edit" style="font-size:0.85em; margin-right: 3.5px;"></i>
                Uredi
            </a>
            <a href="@Url.Action("delete", "lekcija")" class="btn btn-danger disabled" style="font-size: 0.60em;">
                <i class="fas fa-trash" style="font-size:0.85em; margin-right: 3.5px;"></i>
                Obriši
            </a>
        </div>
    </div>

    <hr style="margin: 0px 0 12px;" class="hide-small" />

    <video controls="controls" class="col-sm-2 col-md-8">
        <source src="~/Content/Videos/@Model.GetVideoUrl()" type="video/mp4" />
    </video>

    <div class="col-sm-6 col-md-4" style="font-size: 0.6em;">
        <a href="@Url.Action("pregled", "kviz", new { id=Model.LekcijaId })">
            <div class="lekcija">
                Pregled kviza
            </div>
        </a>
        <div class="holder-2" style="font-size: 0.70em;margin-top:5px;">
            <i class="fas fa-check" style="font-size:0.85em; margin-right: 3.5px;"></i>
            <b>Riješena:</b> @Html.DisplayFor(model => model.RijesenaPuta) puta
            <br />
            <i class="fas fa-star" style="font-size:0.85em; margin-right: 3.5px;"></i>
            <b>Prosijek:</b> @Html.DisplayFor(model => model.Prosjek)
        </div>
        <div class="holder-2" style="font-size: 0.70em;margin-top:5px;">
            <b>Podatci o lekciji</b>
            <hr style="margin: 7px 0;" />
            <b>@Html.DisplayNameFor(model => model.RBLekcije)</b>: @Html.DisplayFor(model => model.RBLekcije)<br />
            <b>
                @Html.DisplayNameFor(model => model.Razred)
            </b>: @Html.DisplayFor(model => model.Razred)<br />
            <b>
                @Html.DisplayNameFor(model => model.MaxBodovi)
            </b>: @Html.DisplayFor(model => model.MaxBodovi)<br />
            <b>@Html.DisplayNameFor(model => model.IdVideo)</b>: @Html.DisplayFor(model => model.IdVideo).ToString().Substring(0, 16) ...<br />
            <b>@Html.DisplayNameFor(model => model.IdKviz)</b>: @Html.DisplayFor(model => model.IdKviz).ToString()<br />
        </div>

    </div>

</div>

<a href="@Url.Action("lekcije", "moderator")" class="btn btn-warning" style="font-size: 0.36em;">
    <i class="fas fa-angle-left" style="font-size:0.85em; margin-right: 3.5px;"></i>
    Natrag
</a>

<style>
    .holder {
        font-family: 'Roboto Slab';
    }

    .holder-2 {
        font-size: 0.6em;
        font-family: 'Roboto Slab';
        text-align: left;
        padding: 20px;
        border: 1px solid #fff;
        background-color: rgba(255, 255, 255, 0.20);
    }

    video {
        margin-top: 5px;
    }

    @@media only screen and (max-width: 800px) {
        video {
            margin-top: 15px;
            width: 100%;
            padding: 0 !important;
        }

        .col-sm-6 {
            padding-left: 0;
            padding-right: 0;
        }

        .hide-small {
            display: none;
        }


    }
</style>



